@font-face {
font-family: 'helveticaneueltstd';
src : local('helveticaneueltstd'), 
url('../fonts/helveticaneueltstd-roman-webfont.woff') format('woff'), 
url('../fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'), 
url('../fonts/HelveticaNeueLTstd-Roman.otf') format('opentype'),
url('../fonts/helveticaneueltstd-roman-webfont.eot') format('embedded-opentype');
}


.login-div {
	width: 700px; 
	margin: 50px auto; 
	padding:15px; 
	text-align:center;
}



#headerName {
	border-style:dotted;

}

#adminHeader {
	font-size:25px;
	text-align:center;
}

#adminHeaderTxt {
	
	font-family: 'helveticaneueltstd', Arial, sans-serif;
}


.login-logo-img {
	width:400px;
	height:93px;
	
}

#loginenter {
	width: 500px;
	margin: 20px auto;
	text-align:left;
}

#loginresult {
	width: 500px;
	margin: 20px auto;
	text-align:left;
}

#loginButtonArea {
	width:500px;
	margin: 20px auto;
	text-align:right;

}

#add_submitbuttonarea{
	text-align:right;


}

.indexTableNumber{
	width:15%;
}


.indexTableMessage{
	width:85%; 
	vertical-align:text-top
}

.pastDue {
	color:red;

}

.well-nobgcolor {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.otherSchoolArea {
	display:none;
}

#warningareaDelSchool {
	display:none;
}

#tableDivArea {
	margin-bottom: 0px;
}

#reminderType {
	display:none;
}

.schoolNameNotList {
	display:none;
}