@font-face {
font-family: 'helveticaneueltstd';
src : local('helveticaneueltstd'), 
url('../fonts/helveticaneueltstd-roman-webfont.woff') format('woff'), 
url('../fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'), 
url('../fonts/HelveticaNeueLTstd-Roman.otf') format('opentype'),
url('../fonts/helveticaneueltstd-roman-webfont.eot') format('embedded-opentype');
}


.login-div {
	width: 700px; 
	margin: 50px auto; 
	padding:15px; 
	text-align:center;
}



#headerName {
	border-style:dotted;

}

#adminHeader {
	font-size:25px;
	text-align:center;
}

#adminHeaderTxt {
	
	font-family: 'helveticaneueltstd', Arial, sans-serif;
}


.login-logo-img {
	width:400px;
	height:92px;
	
}

#loginenter {
	width: 500px;
	margin: 20px auto;
	text-align:left;
}

#loginresult {
	width: 500px;
	margin: 20px auto;
	text-align:left;
}

#loginButtonArea {
	width:500px;
	margin: 20px auto;
	text-align:right;

}

#add_submitbuttonarea{
	text-align:right;


}

.indexTableNumber{
	width:15%;
}


.indexTableMessage{
	width:85%; 
	vertical-align:text-top
}

.pastDue {
	color:red;

}